doctype html
!= "<!--[if lt IE 7]>      <html class=\"no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->"
!= "<!--[if IE 7]>         <html class=\"no-js lt-ie10 lt-ie9 lt-ie8\"> <![endif]-->"
!= "<!--[if IE 8]>         <html class=\"no-js lt-ie10 lt-ie9\"> <![endif]-->"
!= "<!--[if IE 9]>         <html class=\"no-js lt-ie10\"> <![endif]-->"
!= "<!--[if gt IE 9]><!-->"
html.no-js
	!= "<!--<![endif]-->"
	include ../global/head
	// TODO: we need to specify a platform class on the body
	body(class="is-#{platform}")
		include ../global/header
		include ../global/menu
		.outer-wrap
			// START : WRAPPER
			.wrapper
				- contentHeaderTitle = "Generic Content Template"
				include ../modules/content-header
				.container
					// START : MAIN CONTAINER
					#mainContainer.main-container
						// START : PAGE CONTENT
						#mainContent.main-content
							// TODO: Everything inside "#mainContent" will be repopulated by Backbone
							include ../modules/content-navigation
							.content-column
								// TODO: .content-heading    = h2 for .content-column WYSIWYG
								// TODO: .content-subheading = h3 for .content-column WYSIWYG
								// TODO: .content-subtitle   = h4 for .content-column WYSIWYG
								h2.content-heading Header 2
								h4.content-subtitle Thank you for visiting The Cheesecake Factory website.
								p.
									The Cheesecake Factory created the upscale casual dining segment in 1978 
									with the opening of its first restaurant in Beverly Hills, CA. More than 
									35 years later, The Cheesecake Factory is known across the globe for its 
									extensive and creative menu, generous portions, distinctive décor and legendary 
									desserts. With more than 250 menu selections – all handmade, in-house with 
									fresh ingredients – and more than 50 signature cheesecakes and desserts, there 
									is truly “Something for everyone” at The Cheesecake Factory.
								hr
								ul
									li.
										Email an eGift Card with one of our template designs or with your own photo
										and personalized greeting.
									li.
										Available in any amount between $5 and $500 and usually arrive within 2 - 4
										hours of placing your order, or on the date you specify.
									li
										| If you are a small business placing multiple gift card orders over the
										| course of the year, 
										a(href="#") click here.
								ol
									li.
										Email an eGift Card with one of our template designs or with your own photo
										and personalized greeting.
									li.
										Available in any amount between $5 and $500 and usually arrive within 2 - 4
										hours of placing your order, or on the date you specify.
								- largeImageCaption = "This is an image caption."
								include ../modules/content-largeimage
								include ../modules/content-imagegrid
								include ../modules/content-linksection
								include ../modules/content-contactform
								include ../modules/content-biographies
								include ../modules/content-faq
						// END : PAGE CONTENT
					// END : MAIN CONTAINER
			include ../global/footer
			// END : WRAPPER
