<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

<style type="text/css">
* {
	margin: 0px;
	padding: 0px;	
}

body {
	background: #FFFFFF;
	color: #222222;
	font-family: Helvetica, Arial, sans-serif;
	padding: 20px;
	
}

h1 {
font-family: 'Lobster', cursive;
font-size: 40px;
}

h3, p {
	font-style:italic;
}

</style>


</head>

<body>

<div class="message">
<h1>Sorry!</h1><br />
<h3>The Locator is not available right now.</h3>

<p style="margin-top: 10px;">
Please try again in a few minutes.
</p>

</div>

</body>
</html>
