<html>
	<head>
	



<style type="text/css">
img, div, a, input { behavior: url(http://hosted.where2getit.com/cheesecake/css/iepngfix.htc) }
</style>

</head>

<body>		
		<img width="33" height="25" style="margin-left: 15px; margin-top: 20px;" class="floatLeft" src="images/glyph.png"/>
		
		
		
	<input id="locator_submit" name="search" value="Go" style="vertical-align:middle; margin-bottom:12px;" src="http://hosted.where2getit.com/cheesecake/images/search_button.png" type="image" />
					


</body>
</html>
