// START : /modules/content-faq.html
.content-faq
	h2 Got Questions?
	p
		|We’ve got answers! Whether it’s your first time dining (Welcome!) or your 101st time (Welcome Back!),
		|we know you might have questions. Here are answers to some of our guests’ most Frequently Asked 
		|Questions (FAQ). And if you have other questions or a concern about one of our restaurants, please 
		a(href="#") Contact Us. 
		|We love to hear from our guests!
	.content-accordion.accordion
		each i in ["Visiting Our Restaurants","Menu","Gift Cards","Fun Stuff","Other Stuff"]
			.accordion-item
				.accordion-item-wrap
					h4.accordion-item-title= i
					dl.accordion-item-body
						dt Do you accept reservations?
						dd
							p.
								Most restaurants accept large party reservations on a limited basis for dining during 
								quieter times (such as weekday afternoons or early lunch immediately after we open). 
								We usually do not take reservations for dining during busy times such as evenings, 
								weekends or holidays. We seat guests in the order that they arrive once the entire 
								party is present.
						dt When is a good time to visit if I don’t have a lot of time?
						dd
							p.
								Arrive early or dine late!  Most restaurants are busiest from 12 - 2PM and 6 - 8PM on 
								weekdays. Weekends can be busy all day. Our entire menu with full service is always 
								available at our self-seating “high top” tables located in our bar areas. Also, almost 
								everything on our menu can be ordered as takeout by phone or at our bakery counters. 
								Most locations offer Curbside To-Go service. Call ahead, pull up, call us and we’ll 
								run your food out to you.
						dt Can you accommodate large parties? Private functions?
						dd
							p.
								Yes! Our open floor plans allow us to easily accommodate large parties. Many restaurants 
								accept reservations for large parties on a limited basis at quieter times (see above).
							p.
								Some restaurants offer private dining rooms or banquet facilities. See our Locations 
								page or call your local restaurant for details.
// END : /modules/content-faq.html
