// START : /modules/content-biographies.html
.content-biographies
	each i in new Array(3)
		.content-biographyrow
			.content-biographyrow-image
				img(alt="",src="/assets/images/placeholders/img_217x217.png")
			.content-biographyrow-right
				.content-biographyrow-rightwrap
					.content-biographyrow-title Chef Bok Okura
					.content-biographyrow-subtitle Vice President, Research &amp; Development: Bakery
					.content-biographyrow-description
						|Chef Bob Okura, our award-winning Corporate Executive Chef, and his culinary team are 
						|responsible for creating and perfecting the dishes that are featured on our menu. 
						|Chef Bob has been with The Cheesecake Factory for over 20 years, creating hundreds of 
						|the dishes that are featured on our menu today.  From our new Small Plates and Snacks 
						|to our classic Miso Salmon, if you have a favorite Cheesecake Factory dish, chances 
						|are Chef Bob had his hand in creating it. To try a home-style version of one of Chef
						|Bob's most popular Sunday Brunch recipes, 
						a(href="#") click here.
			a.content-biographyrow-expand 
				span.viewmore View More
				span.viewless View Less
script.
	require(["modules/contentBiographies"], function(ContentBiographies) {
		return new ContentBiographies();
	});
// END : /modules/content-biographies.html
