* {
	/* resets */
	border: none;
	border-collapse: collapse;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-weight: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: middle;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

a {
	vertical-align: baseline;
}

a, a * {
	/* color: inherit; */
}

table {
	width: 100%;
}

.clear {
	clear: both;
	display: block;
	height: 0;
}

#map_canvas {
	width: 100%;
	height: 90%;
	position: absolute; top: 90px; left: 0; margin: auto;
	z-index: 10000;
}

#templates, xml, #driving_directions_panel, #locator_search_submit, #w2gi_wrapper, .hidden {
	display: none !important;
}

#map_canvas.map_hidden {
	left: -100%;
	border-left: 10px solid #ffffff;
	border-top: 10px solid #ffffff;
	border-right: 10px solid #ffffff;
}

#results.list_hidden {
	display: none;
}

.location-sidebar-filter {
	top: 90px;
}
