// START : /modules/content-linksection.html
.content-linksection
	h3.content-subheading Header 3
	.content-link
		.content-link-title This is a title
		.content-link-description This is a Description
		// TODO: Classes on the link below vary depending on content/icon (.view, .download, .read)
		a.recipe(href="#") View Recipe
	.content-link
		.content-link-title This is a title
		.content-link-description This is a Description
		// TODO: .content-link-summary is optional
		.content-link-summary.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mi lacus, auctor quis 
			congue ac, pellentesque quis erat. In lobortis velit quis pulvinar porttitor. Nunc a turpis 
			lectus. Vestibulum eu faucibus nibh. Donec molestie sollicitudin pulvinar. Morbi faucibus 
			nulla eu arcu aliquam blandit.
		a.download(href="#") Download PDF
	.content-link
		.content-link-title This is a title
		.content-link-description This is a Description
		a.read(href="#") Read More
// END : /modules/content-linksection.html
