<header role="banner">
   <div class="layout__region--header">
      <div class="navigation-burger hide@lg">
         <span class="burger" data-toggle="mobile-menu-open" data-toggle-target="body"><svg height="17" viewbox="0 0 20 17" width="20" xmlns="http://www.w3.org/2000/svg">
         <g>
            <g>
               <path d="M1,15.32l18,.08a.94.94,0,0,1,.09,1.87H19L1,17.19a.94.94,0,1,1,0-1.87ZM1,7.73l18,.09a.94.94,0,0,1,.94.94,1,1,0,0,1-.85.93H19L1,9.61a1,1,0,0,1-.94-.95A.94.94,0,0,1,1,7.73ZM1,.14,19,.23a.94.94,0,0,1,.09,1.87H19L1,2A.94.94,0,0,1,1,.14Z"></path>
            </g>
         </g></svg></span>
      </div>
      <div class="block block-block-content block-block-contentde1907d2-066f-41b0-9aac-3bdd680f1337 site-branding-header-logo in-viewport" data-scroll-class="in-viewport" id="block-sitebrandingheaderlogo">
         <div class="contextual-region block block-system block-system-branding-block cake-branding-logo" id="block-cake-branding">
            <a class="d-inline-block" href="https://cheesecakedev.prod.acquia-sites.com/" rel="home" title="The Cheesecake Factory"><svg data-name="the-cheesecake-factory-logo" id="the-cheesecake-factory-logo" viewbox="0 0 296.51 47.97" xmlns="http://www.w3.org/2000/svg">
            <defs>
               <mask height="47.97" id="mask" maskunits="userSpaceOnUse" width="42.43" x="0" y="0">
                  <g transform="translate(0 0)">
                     <g id="mask-3">
                        <polygon fill="#fff" fill-rule="evenodd" id="path-2" points="0 0 42.43 0 42.43 47.97 0 47.97 0 0"></polygon>
                     </g>
                  </g>
               </mask>
               <mask height="5.88" id="mask-2" maskunits="userSpaceOnUse" width="6.32" x="290.19" y="26.14">
                  <g transform="translate(0 0)">
                     <g id="mask-5">
                        <polygon fill="#fff" fill-rule="evenodd" id="path-4" points="290.19 26.14 296.51 26.14 296.51 32.02 290.19 32.02 290.19 26.14"></polygon>
                     </g>
                  </g>
               </mask>
            </defs>
            <path d="M53.23.92a.44.44,0,0,1,.65.21c.1.36-1.25,2.65-1.35,3.12-.66,1.1-.85-.21-1.23-1s-2-.64-2.13.14A61.85,61.85,0,0,0,49.29,11a1.17,1.17,0,0,0,.7,1c.72.32.71,1.05-.07,1.05-.49,0-1.37.06-2.13.06H45.5A.54.54,0,0,1,45.37,12,1.12,1.12,0,0,0,46,11a49.83,49.83,0,0,0-.24-7.72c-.15-.79-1.31-.58-2.16-.07a8.09,8.09,0,0,0-1.51,1.33c-.26.24-1.41.62-.8-.64a23.63,23.63,0,0,1,1.77-3c.16,0,.57-.28.9.33,4.5.05,6.76,0,8.47,0a1.61,1.61,0,0,0,.81-.32" fill-rule="evenodd" id="Fill-1" transform="translate(0 0)"></path>
            <path d="M53.88,2.82c-.46.87.62.72.67,1.17.09.88,0,6.78,0,7.36s-.61.6-.72.89,0,.69.56.69h3.33c.77,0,.5-.71-.19-1.09a1,1,0,0,1-.34-.79c0-1.38,0-3.22,0-3.48.44-.78,1.12-.86,1.63-.33a7.87,7.87,0,0,1,1.75,4.92c0,1.11.15,1.92-.68,2.92-.29.32-1.12,1.12.36.68,1.86-.94,2-2.38,2.2-3.83a7.77,7.77,0,0,0-.82-4.85c-.62-1.13-1-1.76-2.19-1.94-.81-.12-1.4.5-2.31,1,0-2.09,0-3.78,0-4.38s-.27-.69-.77-.37S55,2.06,53.88,2.82" fill-rule="evenodd" id="Fill-3" transform="translate(0 0)"></path>
            <g id="Group-7">
               <g mask="url(#mask)">
                  <path d="M31.13,2.63a4,4,0,0,1-1.75-.3,24.93,24.93,0,0,0-7-1.07C16.49,1.26,9,3.73,3.77,12.18A22.21,22.21,0,0,0,.12,22.68,24.41,24.41,0,0,0,1.48,33.57C4,39.84,10.61,47,20.41,47.89c4.16.34,9.93-.34,13.21-2a25,25,0,0,0,8.59-8.24c.74-1.07-.56-2.07-1.46-1.11a18.93,18.93,0,0,1-12,7.1,17.22,17.22,0,0,1-15-5.48C9.53,33.19,9.19,27.34,9,25,8.89,12.84,15.14,4.89,22.67,4.75A13.77,13.77,0,0,1,31,7.36C36.43,11,36.76,15.25,38.81,16c.95.36,2.93-.12,2.94-1.23,0-2.59-1.73-4.71-3.51-8.53C36.88,3.32,35.71.47,35.18.06a3.3,3.3,0,0,0-1.4,0c-.39.24-.94,1-1.63,1.55s-.57.85-1,1" fill-rule="evenodd" id="Fill-5" transform="translate(0 0)"></path>
               </g>
            </g>
            <path d="M62.89,9.62c-.22-2.28,1.54-4.74,5.1-4.34a3.9,3.9,0,0,1,3.14,3A39.61,39.61,0,0,1,65.89,10a2.77,2.77,0,0,0,1.73,2,3.5,3.5,0,0,0,3.07-.76c.5-.4,1.15-.27.46.62a5.44,5.44,0,0,1-3.37,1.35c-3.11.1-4.7-1.64-4.89-3.55m3.39-3.36c-1,.2-1.29,2.28-.62,2.64A8.56,8.56,0,0,0,68.53,8C68,6.6,67.31,6.07,66.28,6.26" fill-rule="evenodd" id="Fill-8" transform="translate(0 0)"></path>
            <path d="M136.77,8.43a.85.85,0,0,0,.14,1.43c.52.26,1.75.28,1.82,1.16,0,11.52,0,16.8,0,17.76,0,1.27-2,1.21-2,2.06,0,.65.13,1.26,1.1,1.26l6.75,0c.57,0,1.19-.62,1-1.17s-1-.87-1.31-1c-.5-.19-.74-1.06-.8-1.5s0-1.75,0-2.27a3,3,0,0,1,2-1.85c.15,0,.54.34.81.79,1.11,1.87,3.24,7,3.79,7h4.79c1,0,1.77-1.13.48-1.9a7.68,7.68,0,0,1-1.41-.84,8.38,8.38,0,0,1-1.54-2.37c-1.36-2.62-2.27-4-2.72-5a2.8,2.8,0,0,1-.43-1.25c.1-.61,1.75-1.81,2.84-1.93,1.81-.26,1.3-1.94,0-1.94-3.09,0-4.32,0-5.4,0-1.89,0-1.22,1.41-1.26,1.28.08.22,1.32.46,1.27,1a3.07,3.07,0,0,1-1,1.72,20.32,20.32,0,0,1-1.5,1.53c-.32.26-.53,0-.54-.21-.15-7,.1-14.18.09-16,0-1.38-1.23-.69-1.85-.38-.87.43-4.43,2.23-5.11,2.63" fill-rule="evenodd" id="Fill-10" transform="translate(0 0)"></path>
            <path d="M75.06,17.28a19,19,0,0,0-4.61-.54c-1.34,0-3.69.32-4.71,2.65a4.22,4.22,0,0,0,0,3.19c1.08,2.48,4.9,3,6.92,3.65,2.6.87,3.65,1.19,3.48,2.3-.13,1-1.39,2-5.33,1.22A11.17,11.17,0,0,1,66.08,27c-.45-.42-1.3-.1-1,.83a46.66,46.66,0,0,0,2.91,5c.25.42,1,.62,1.25.14s.39-.86,1-1a18.62,18.62,0,0,1,3.62.33,8.85,8.85,0,0,0,5.8-1.08,4.49,4.49,0,0,0,1.73-4.2c-.37-2.54-2.44-3.73-5.48-4.47a23.27,23.27,0,0,1-4.94-1.48,1.14,1.14,0,0,1-.3-1.9c.82-.84,2.82-.53,3.84-.31a9.27,9.27,0,0,1,4,2.05c.86.68,1.32.57,1.5.43.68-.55-.58-1.55-1.38-3-1-1.73-1.3-2.32-1.92-2.15s-1.09,1.11-1.57,1.05" fill-rule="evenodd" id="Fill-12" transform="translate(0 0)"></path>
            <path d="M108.29,16.7c-3.71,0-9,2.11-9.15,8s5,7.75,8.83,7.85c6-.29,7.28-3.28,7.83-4.25.36-.64-.81-1.52-1.58-.53a5.65,5.65,0,0,1-5.84,2.24c-2.55-.72-3.48-2.59-3.82-5.53-.31-2.6.6-6,3.65-5.91,3.23.08,3.39,3.57,3.8,4.26s1,.66,1.46-.21a31.7,31.7,0,0,1,1.36-3c.55-.89.06-1.29-.68-1.67a11.3,11.3,0,0,0-5.86-1.32" fill-rule="evenodd" id="Fill-14" transform="translate(0 0)"></path>
            <path d="M31.1,23.35a8,8,0,0,1,7.16-6.61c3.86-.31,5.36.7,6.46,1.58C46,19.37,47.64,22.11,47,22.73s-6.75,2.07-9.12,3c-.45.17-1,.31-.81.88a5.57,5.57,0,0,0,3.38,3.1c2.32.65,4.66-.53,6.09-1.62.75-.58,1.61,0,1,1.1-.44.74-2.88,2.87-7.35,3.09-6.64.28-9.72-4.63-9.09-8.91m7-4.74A2.54,2.54,0,0,0,36,20.66c-.38,1.49,0,3.46.52,3.67s5-1.33,5.3-1.84-.81-4.25-3.72-3.88" fill-rule="evenodd" id="Fill-16" transform="translate(0 0)"></path>
            <path d="M124.43,16.69a5.59,5.59,0,0,1,5.59,3.4c1.27,3.11,2.68,7.64,3.26,8.6s1.48,1.38,2,.91.8.2.8.74-.6,1.56-2.17,1.92a6.24,6.24,0,0,1-4.12-.65c-.47-.37-.78-.94-1.17-.91-1.14.08-2.25,1.53-5.78,1.73-4.52.24-6.71-2.38-6.39-4.62s1.51-3.49,3.76-4.4a18.23,18.23,0,0,1,5.37-.76c.51,0,.14-.75.09-.95-.66-2.63-2.86-2.79-4.67-2.17a12.92,12.92,0,0,0-2.32,1.24c-.8.39-1.5-.51-.78-1.33,2.31-2.62,4.34-2.69,6.52-2.75m-1.2,8.18a2.55,2.55,0,0,0-1.57,2.85c.43,1.44,1.44,2.73,4.19,2.19s1.4-3.63,1.12-4.26-.56-1-1.22-1.06a5.15,5.15,0,0,0-2.52.28" fill-rule="evenodd" id="Fill-18" transform="translate(0 0)"></path>
            <path d="M159.47,5.92c.5,2.14,2.9,3.33,7.35,3.08a41.35,41.35,0,0,0,5-.34c1.89-.36,3.15-.55,3.7-.23.37.22.47,1.23.51,2.83.14,6.6,0,24.07-.2,26.13-.13,1.14-1.35,3.49-2.57,5.77a1.49,1.49,0,0,0,2.07,2.05c1.07-.66,5.91-4.15,8.48-5.52a1.37,1.37,0,0,0,.18-2.25,3.78,3.78,0,0,1-1.25-3.25c0-8.55,0-11.11,0-12.46,0-1.05,0-1.27.81-1.31s5.89-.13,6.54,0A12.61,12.61,0,0,1,192.65,22c.62.39,2.08.23,1.7-.83s-.81-2.49-1-3.37c-.65-2.67-1-4.37-3.7-2.15a.66.66,0,0,1-.49.31c-.31,0-5.94.11-6.28-.22s-.25-3.22-.18-4.66-.81-3.52,4.3-3.75a98.19,98.19,0,0,1,11.4-.2,25.12,25.12,0,0,1,7.8,1.55,3.73,3.73,0,0,0,3.63-.17,1.74,1.74,0,0,0,.66-1.81c-.25-1-.32-2.37-1.31-3.35-.82-.82-3.09-1-4.57-1.18-4.81-.64-13,.22-19.5,1.2,2-.29-9.28,2-14,1.44-5.33-.6-6.38-1.49-6.62-1.87a2.26,2.26,0,0,0-1.95-1.23,3.19,3.19,0,0,0-3.08,4.25" fill-rule="evenodd" id="Fill-20" transform="translate(0 0)"></path>
            <path d="M229.17,17.91c-.62.57-.74,1.69.43,1.67,0,0,1.1,0,1.36,0s.54.12.56.38.1,3.11.1,5.08c0,3.4-.57,4-.32,4.84.53,1.64,2.56,2.43,4.66,2.52a8.29,8.29,0,0,0,5.29-1.73c1.21-1.2.55-2.63-1-1.76-.86.47-1.77,1.12-2.68.91S236.45,29,236.32,28s-.08-6.92-.08-7.47,0-.89.43-1,3.86-.05,4.47-.05c.18,0,.52-1.71.57-1.92s0-.43-.43-.48a38.5,38.5,0,0,1-4.94-.16,35.64,35.64,0,0,1-.15-5c0-.59-.59-1-1.24-.4a68.83,68.83,0,0,1-5.78,6.43" fill-rule="evenodd" id="Fill-22" transform="translate(0 0)"></path>
            <path d="M275.07,17.16a1,1,0,0,0,0,1.94,3,3,0,0,1,1.7,1.7c.67,1.39,4.14,9.05,5,10.36l.12.29c-4.26,5.44-7.17,7.48-9.78,8.44a5.69,5.69,0,0,1-4,.06A2.81,2.81,0,0,1,266.6,37c.47-1-1-1.53-2.58-1.14A2.88,2.88,0,0,0,262,40c1.13,2.52,4.64,3.79,9.07,2.84a22.9,22.9,0,0,0,11.7-6.9A36.1,36.1,0,0,0,288.66,28a50.08,50.08,0,0,0,3.46-7.62,3.52,3.52,0,0,1,1.53-1.64c.41-.2.64-1.53-.32-1.63a52.94,52.94,0,0,0-7.27.08c-.69.24-.45,1.29.3,1.67.35.18,1,.38,1.16.74a3.12,3.12,0,0,1-.17,1.87,19.21,19.21,0,0,1-2.55,5.16A20.1,20.1,0,0,1,283,23.46,30.24,30.24,0,0,1,281.6,20c-.14-.6.34-1.13,1-1.23s.78-1.6-.4-1.67c-.58,0-1.94,0-3.17.06-1.49.06-3.35-.08-4,0" fill-rule="evenodd" id="Fill-24" transform="translate(0 0)"></path>
            <path d="M266.5,19.94c-.36.42-.63.28-.63.08s0-1.33,0-1.87c-.1-1.73-1.66-.69-3.21.17-1.31.71-3.13,1.77-3.37,2a.8.8,0,0,0,.36,1.25c.44.18.89,0,1.26.35a2.32,2.32,0,0,1,.27,1.4,54.75,54.75,0,0,1-.15,6c-.21.77-1.24.74-1.9,1.34a.93.93,0,0,0,.69,1.64c1,0,6.25,0,7,0a1,1,0,0,0,.71-1.78c-.88-.47-1.5-.79-1.61-1.49a16.49,16.49,0,0,1,.09-5.66,3,3,0,0,1,1.68-1.94,2,2,0,0,1,2.38.64,7.2,7.2,0,0,0,.76,1,.89.89,0,0,0,1.34-.65,24.64,24.64,0,0,1,1.22-3.64c.4-.92.44-1.88-2.22-1.64a6.26,6.26,0,0,0-4.62,2.77" fill-rule="evenodd" id="Fill-26" transform="translate(0 0)"></path>
            <path d="M249.11,16.7a10.18,10.18,0,0,1,8.58,3.38c3.43,3.89,3.32,10-2.8,11.81-7.07,1.78-13.54-.77-13.53-7.1-.07-4.2,2.86-7.72,7.75-8.09m4.49,5.75c-1.06-2.32-3-4.48-5.5-3.89-2,.45-2.91,3.07-1.14,7.34,1.16,2.79,3.36,5.47,6.29,4.15,1.79-.8,2.06-3.82.35-7.6" fill-rule="evenodd" id="Fill-28" transform="translate(0 0)"></path>
            <path d="M24.6,17A4.53,4.53,0,0,0,21,18.52c-.21.27-.73.31-.73,0s0-8.6,0-9-.74-.34-1-.17-4.88,3-5.28,3.27a.71.71,0,0,0,0,1.2c.48.21,1.65.52,1.65,1.07,0-.54.14,11.23-.13,14.08-.14,1.33-1.34,1.61-1.78,1.92s-.16,1.46.61,1.46l6.84.07A1,1,0,0,0,22,30.85c-.33-.52-1.3-.48-1.67-1.65-.44-1.39-.18-5.83.07-7.27a1.72,1.72,0,0,1,1.06-1.42,1.37,1.37,0,0,1,1.53.12,6.2,6.2,0,0,1,1.39,2.06,21,21,0,0,1,1.55,7.49c0,7.64-3.73,9.68-4.54,10.2s-.13,1.25.52,1.07a9.37,9.37,0,0,0,4.17-2.72A15.06,15.06,0,0,0,29.83,33a16.54,16.54,0,0,0,.85-6.61c0-3.6-2.48-9.22-6.08-9.38" fill-rule="evenodd" id="Fill-30" transform="translate(0 0)"></path>
            <path d="M82.11,23.51a8.06,8.06,0,0,1,7.16-6.61c3.86-.31,5.36.69,6.47,1.58,1.3,1.05,2.91,3.78,2.31,4.41s-6.76,2.07-9.13,3c-.44.17-1,.3-.81.87a5.53,5.53,0,0,0,3.38,3.11c2.32.65,4.65-.53,6.09-1.62.76-.58,1.61,0,1,1.1-.43.74-2.87,2.87-7.34,3.09-6.64.28-9.72-4.63-9.09-8.91m7-4.74A2.53,2.53,0,0,0,87,20.82c-.38,1.48,0,3.46.53,3.67s5-1.33,5.29-1.84S92,18.4,89.08,18.77" fill-rule="evenodd" id="Fill-32" transform="translate(0 0)"></path>
            <path d="M153.89,23.51a8,8,0,0,1,7.16-6.61c3.86-.31,5.36.69,6.46,1.58,1.3,1.05,2.92,3.78,2.31,4.41s-6.75,2.07-9.12,3c-.45.17-1,.3-.81.87a5.53,5.53,0,0,0,3.38,3.11c2.33.65,4.65-.53,6.08-1.62.77-.58,1.91-.23,1.26.9-.43.74-3,3.16-7.63,3.29-6.65.12-9.72-4.63-9.09-8.91m7-4.74a2.57,2.57,0,0,0-2.1,2.05c-.38,1.48,0,3.46.54,3.67s5-1.33,5.29-1.84-.81-4.25-3.73-3.88" fill-rule="evenodd" id="Fill-34" transform="translate(0 0)"></path>
            <path d="M201.44,16.69a5.6,5.6,0,0,1,5.6,3.4c1.26,3.11,2.67,7.64,3.25,8.6s1.49,1.38,2,.91.8.2.8.74-.6,1.67-2.17,2-3.77-.14-4.23-.76c-.35-.46-.67-.94-1.06-.91-1.13.08-2.25,1.53-5.79,1.73-4.51.24-6.69-2.38-6.38-4.62s1.52-3.49,3.76-4.4a18.27,18.27,0,0,1,5.37-.76c.52,0,.14-.75.1-.95-.66-2.63-2.87-2.79-4.67-2.17a12.75,12.75,0,0,0-2.33,1.24c-.8.39-1.5-.51-.78-1.33,2.32-2.62,4.34-2.69,6.52-2.75m-1.2,8.18a2.55,2.55,0,0,0-1.57,2.85c.43,1.44,1.44,2.73,4.2,2.19s1.39-3.63,1.12-4.26-.56-1-1.22-1.06a5.17,5.17,0,0,0-2.53.28" fill-rule="evenodd" id="Fill-36" transform="translate(0 0)"></path>
            <path d="M221.37,16.78c-3.71,0-9,2.11-9.14,8s5,7.76,8.83,7.86c5.94-.29,7.27-3.29,7.82-4.26.36-.63-.81-1.52-1.57-.53a5.66,5.66,0,0,1-5.86,2.24c-2.54-.71-3.46-2.59-3.81-5.53-.31-2.59.61-6,3.65-5.91,3.23.08,3.4,3.57,3.8,4.27s1,.65,1.46-.22a30.43,30.43,0,0,1,1.37-3c.55-.9.05-1.29-.69-1.67a11.24,11.24,0,0,0-5.86-1.33" fill-rule="evenodd" id="Fill-38" transform="translate(0 0)"></path>
            <path d="M48,23.52a8,8,0,0,1,7.16-6.6c3.86-.31,5.36.69,6.46,1.58,1.3,1,2.92,3.78,2.31,4.4s-6.75,2.08-9.12,3c-.45.17-1,.31-.81.88a5.51,5.51,0,0,0,3.38,3.1c2.32.65,4.65-.52,6.08-1.62.76-.57,1.62,0,1,1.1-.43.75-2.87,2.87-7.34,3.1-6.65.27-9.72-4.64-9.09-8.92m7-4.74a2.56,2.56,0,0,0-2.09,2.06c-.39,1.48,0,3.46.52,3.67s5-1.33,5.29-1.84-.8-4.25-3.72-3.89" fill-rule="evenodd" id="Fill-40" transform="translate(0 0)"></path>
            <g id="Group-44">
               <g mask="url(#mask-2)">
                  <path d="M290.19,29.08A3.17,3.17,0,1,1,293.36,32a3,3,0,0,1-3.17-2.94m3.17,2.46a2.46,2.46,0,1,0-2.54-2.46,2.45,2.45,0,0,0,2.54,2.46" fill-rule="evenodd" id="Fill-42" transform="translate(0 0)"></path>
               </g>
            </g>
            <path d="M292.69,30.78h-.54V27.39h1.37c.86,0,1.27.29,1.27,1s-.4.87-.93.93l1,1.5h-.61l-.94-1.47h-.64Zm.66-1.91c.46,0,.87,0,.87-.55s-.4-.5-.78-.5h-.75v1.05Z" fill-rule="evenodd" id="Fill-45" transform="translate(0 0)"></path></svg></a>
         </div>
      </div>
      <nav aria-labelledby="block-cake-mainnavigation-menu" class="block-menu block-menu-system-menu-blockmain block-menu-block-cake-mainnavigation" id="block-cake-mainnavigation" role="navigation">
         <h2 class="visually-hidden" id="block-cake-mainnavigation-menu">Main Navigation</h2>
         <ul>
            <li>
               <a class="nav-menu" href="https://cheesecakedev.prod.acquia-sites.com/menu">Browse Menu</a>
            </li>
            <li>
               <a class="nav-locations" href="https://cheesecakedev.prod.acquia-sites.com/location">Locations</a>
            </li>
            <li>
               <a class="nav-gift-cards" data-drupal-link-system-path="node/76" href="https://cheesecakedev.prod.acquia-sites.com/gift-cards">Gift Cards</a>
            </li>
            <li>
               <a class="nav-careers" href="https://www.cakecareers.com">Careers</a>
            </li>
            <li>
               <a class="nav-my-account hide@md" href="https://cheesecakedev.prod.acquia-sites.com/account">My Account</a>
            </li>
         </ul>
      </nav>
      <div class="block block-nomnom-core block-user-block" id="block-cake-userblock">
         <nav class="user-block-navigation">
            <ul>
               <li class="user-block__signin">
                  <a href=""><i class="user-icon"><svg height="22" viewbox="0 0 28 28" width="22" xmlns="http://www.w3.org/2000/svg">
                  <g>
                     <g>
                        <path d="M14,.75A7.25,7.25,0,1,0,21.25,8,7.26,7.26,0,0,0,14,.75Zm0,2.5A4.75,4.75,0,1,1,9.25,8,4.75,4.75,0,0,1,14,3.25Z"></path>
                        <path d="M21.35,17.44a6.25,6.25,0,0,1,6.24,6v4.23a1.25,1.25,0,0,1-2.5.13V23.69A3.75,3.75,0,0,0,21.54,20H6.79A3.76,3.76,0,0,0,3,23.49v4.2a1.25,1.25,0,0,1-2.5.13V23.69a6.24,6.24,0,0,1,6-6.24H21.35Z"></path>
                     </g>
                  </g></svg></i> <span>Login</span></a>
               </li>
               <li class="user-block__cart">
                  <a href="https://cheesecakedev.prod.acquia-sites.com/order/my-bag"><span class="cart-items-count empty"></span> <i class="cart-icon"><svg height="22" width="18" xmlns="http://www.w3.org/2000/svg">
                  <defs></defs>
                  <g fill-rule="evenodd" transform="translate(-3 -1)">
                     <g transform="translate(3 1)">
                        <path d="M9.731 0c2.166 0 3.922 1.756 3.922 3.922l-.001.3a1.18 1.18 0 0 1 1.378.002l.644.495.643-.495a1.06 1.06 0 0 1 .318-.163 1.23 1.23 0 0 1 .747 0c.237.073.437.227.54.42.053.105.078.205.078.307V20.5c0 .717-.744 1.499-1.659 1.499L1.658 22c-.453 0-.875-.14-1.19-.394C.164 21.361-.001 20.84 0 20.5V4.788c0-.102.025-.202.074-.299.111-.203.311-.355.554-.431.234-.075.499-.075.738.003a1.08 1.08 0 0 1 .314.16l.647.498.644-.495a1.18 1.18 0 0 1 1.382.001l.025.019-.03-.322c0-2.098 1.648-3.812 3.72-3.917L8.269 0zm4.133 6.013l-.801.6a.73.73 0 0 1-.83 0l-.8-.6-.802.6c-.232.174-.598.174-.829 0L9 6.013l-.801.6c-.232.174-.597.174-.829 0l-.801-.6-.801.6c-.231.174-.597.174-.829 0l-.801-.6-.801.6c-.232.174-.597.174-.829 0L2 6.234v13.564c-.001.067.041.113.077.141a.36.36 0 0 0 .213.073h13.398c.169 0 .312-.098.312-.213V6.235l-.505.378a.73.73 0 0 1-.83 0l-.801-.6zM8.269 2c-.96 0-1.756.704-1.899 1.625h0l.026.377c.226.012.448.086.625.222l.644.495.644-.495a1.18 1.18 0 0 1 1.382.001l.643.494.644-.495c.177-.137.402-.211.63-.222l.025-.346-.003-.031c-.135-.872-.857-1.55-1.749-1.619h0L9.731 2z"></path>
                     </g>
                  </g></svg></i></a>
               </li>
               <li class="user-block__order-button">
                  <a class="btn btn-primary" href="https://cheesecakedev.prod.acquia-sites.com/order"><span>Order Now</span></a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
   <div class="layout__region--mobile-header">
      <div class="navigation-burger hide@lg">
         <span class="burger-close" data-toggle="mobile-menu-open" data-toggle-target="body"><svg height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
         <g>
            <g>
               <path d="M23.63.37a1,1,0,0,1,.09,1.32l-.09.09L13.38,12.08,23.63,22.37a1,1,0,0,1-1.32,1.49l-.09-.08L12,13.49,1.73,23.78a1,1,0,0,1-1.42,0,1,1,0,0,1-.08-1.32l.08-.09L10.56,12.08.31,1.78A1,1,0,0,1,1.63.29l.1.08L12,10.66,22.22.37A1,1,0,0,1,23.63.37Z"></path>
            </g>
         </g></svg></span>
      </div>
      <h3>Welcome</h3>
      <nav aria-labelledby="block-mainnavigation-2-menu" class="block-menu block-menu-system-menu-blockmain block-menu-block-mainnavigation-2" id="block-mainnavigation-2" role="navigation">
         <h2 class="visually-hidden" id="block-mainnavigation-2-menu">Main Navigation</h2>
         <ul>
            <li>
               <a class="nav-menu" href="https://cheesecakedev.prod.acquia-sites.com/menu">Browse Menu</a>
            </li>
            <li>
               <a class="nav-locations" href="https://cheesecakedev.prod.acquia-sites.com/location">Locations</a>
            </li>
            <li>
               <a class="nav-gift-cards" data-drupal-link-system-path="node/76" href="https://cheesecakedev.prod.acquia-sites.com/gift-cards">Gift Cards</a>
            </li>
            <li>
               <a class="nav-careers" href="https://www.cakecareers.com">Careers</a>
            </li>
            <li>
               <a class="nav-my-account hide@md" href="https://cheesecakedev.prod.acquia-sites.com/account">My Account</a>
            </li>
         </ul>
      </nav>
      <nav aria-labelledby="block-mobileordernavigation-menu" class="block-menu block-menu-system-menu-blockmobile-order-navigation block-menu-block-mobileordernavigation" id="block-mobileordernavigation" role="navigation">
         <h2 class="visually-hidden" id="block-mobileordernavigation-menu">Mobile Order Navigation</h2>
         <ul>
            <li>
               <a class="btn btn-primary" href="https://cheesecakedev.prod.acquia-sites.com/order">Order Pickup</a>
            </li>
            <li>
               <a class="btn btn-primary" href="https://cheesecakedev.prod.acquia-sites.com/order">Order Delivery</a>
            </li>
         </ul>
      </nav>
      <div class="block block-block-content block-block-content84872075-3aa6-4f38-9e5c-dbfefa5b0696 in-viewport" data-scroll-class="in-viewport" id="block-mobileheadersociallinks">
         <ul class="social-link-field horizontal">
            <li>
               <a class="" href="https://www.facebook.com/thecheesecakefactory" target="_blank" title="Facebook"><svg height="24" viewbox="0 0 11 24" width="11" xmlns="http://www.w3.org/2000/svg">
               <g>
                  <g>
                     <path d="M4.2,1.5C5.3,0.4,6.9,0.1,8.3,0c1.5,0,3.1,0,4.6,0c0,1.7,0,3.4,0,5.1c-1,0-2,0-3,0 C9.3,5,8.6,5.5,8.5,6.2c0,1.1,0,2.3,0,3.4c1.4,0,2.9,0,4.3,0c-0.1,1.6-0.3,3.3-0.5,4.9c-1.3,0-2.6,0-3.8,0c0,4.8,0,9.6,0,14.5 c-1.9,0-3.8,0-5.7,0c0-4.8,0-9.6,0-14.5c-0.9,0-1.9,0-2.8,0c0-1.6,0-3.2,0-4.9c0.9,0,1.9,0,2.8,0c0-1.6,0-3.2,0-4.7 C2.9,3.6,3.4,2.4,4.2,1.5z"></path>
                  </g>
               </g></svg></a>
            </li>
            <li>
               <a class="" href="https://www.twitter.com/cheesecake" target="_blank" title="Twitter"><svg height="31" viewbox="0 0 38 31" width="38" xmlns="http://www.w3.org/2000/svg">
               <g>
                  <g>
                     <path d="M37.94,3.67A15.58,15.58,0,0,1,33.47,4.9,7.82,7.82,0,0,0,36.89.57a15.38,15.38,0,0,1-4.95,1.9A7.79,7.79,0,0,0,18.46,7.83a8,8,0,0,0,.2,1.78A22.09,22.09,0,0,1,2.59,1.43,7.85,7.85,0,0,0,5,11.88a7.67,7.67,0,0,1-3.53-1V11a7.82,7.82,0,0,0,6.25,7.67,7.69,7.69,0,0,1-2,.28,8,8,0,0,1-1.47-.14,7.81,7.81,0,0,0,7.29,5.43A15.61,15.61,0,0,1,1.8,27.59a14.29,14.29,0,0,1-1.86-.11,21.93,21.93,0,0,0,12,3.52C26.23,31,34.08,19.08,34.08,8.73c0-.34,0-.67,0-1A15.61,15.61,0,0,0,37.94,3.67Z"></path>
                  </g>
               </g></svg></a>
            </li>
            <li>
               <a class="" href="http://www.pinterest.com/ccfactory" target="_blank" title="Pinterest"><svg height="35" viewbox="0 0 27 35" width="27" xmlns="http://www.w3.org/2000/svg">
               <g>
                  <g>
                     <path d="M11.88.16C6.11.81.36,5.52.13,12.24c-.15,4.1,1,7.18,4.88,8,1.68-3-.55-3.65-.89-5.82C2.7,5.61,14.26-.43,20.3,5.75,24.49,10,21.73,23.22,15,21.85,8.52,20.54,18.15,10.05,13,8c-4.2-1.68-6.43,5.12-4.44,8.5-1.16,5.8-3.67,11.27-2.66,18.56,3.3-2.42,4.41-7,5.32-11.85,1.66,1,2.54,2.07,4.66,2.23C23.66,26,28,17.58,27,9.78,26,2.86,19.17-.66,11.88.16Z"></path>
                  </g>
               </g></svg></a>
            </li>
            <li>
               <a class="" href="http://www.instagram.com/cheesecakefactory" target="_blank" title="Instagram"><svg height="30" viewbox="0 0 31 30" width="31" xmlns="http://www.w3.org/2000/svg">
               <g>
                  <g>
                     <path d="M25.29,0h-19a5.9,5.9,0,0,0-6,5.8V24.2a5.9,5.9,0,0,0,6,5.8h19a5.91,5.91,0,0,0,6-5.8V5.8A5.91,5.91,0,0,0,25.29,0ZM27,3.46h.69V8.54l-5.24,0,0-5.09ZM11.36,11.92a5.55,5.55,0,0,1,8.85,0,5.18,5.18,0,0,1,1,3.08,5.46,5.46,0,0,1-10.91,0A5.12,5.12,0,0,1,11.36,11.92ZM28.26,24.2a2.93,2.93,0,0,1-3,2.88h-19a2.93,2.93,0,0,1-3-2.88V11.92H7.93A7.92,7.92,0,0,0,7.31,15a8.35,8.35,0,0,0,8.48,8.2A8.35,8.35,0,0,0,24.26,15a7.92,7.92,0,0,0-.62-3.08h4.62Z"></path>
                  </g>
               </g></svg></a>
            </li>
         </ul>
      </div>
      <div class="block block-nomnom-core block-user-block" id="block-userblock-2">
         <nav class="user-block-navigation">
            <ul>
               <li class="user-block__signin">
                  <a href=""><i class="user-icon"><svg height="22" viewbox="0 0 28 28" width="22" xmlns="http://www.w3.org/2000/svg">
                  <g>
                     <g>
                        <path d="M14,.75A7.25,7.25,0,1,0,21.25,8,7.26,7.26,0,0,0,14,.75Zm0,2.5A4.75,4.75,0,1,1,9.25,8,4.75,4.75,0,0,1,14,3.25Z"></path>
                        <path d="M21.35,17.44a6.25,6.25,0,0,1,6.24,6v4.23a1.25,1.25,0,0,1-2.5.13V23.69A3.75,3.75,0,0,0,21.54,20H6.79A3.76,3.76,0,0,0,3,23.49v4.2a1.25,1.25,0,0,1-2.5.13V23.69a6.24,6.24,0,0,1,6-6.24H21.35Z"></path>
                     </g>
                  </g></svg></i> <span>Login</span></a>
               </li>
               <li class="user-block__cart">
                  <a href="https://cheesecakedev.prod.acquia-sites.com/order/my-bag"><span class="cart-items-count empty"></span> <i class="cart-icon"><svg height="22" width="18" xmlns="http://www.w3.org/2000/svg">
                  <defs></defs>
                  <g fill-rule="evenodd" transform="translate(-3 -1)">
                     <g transform="translate(3 1)">
                        <path d="M9.731 0c2.166 0 3.922 1.756 3.922 3.922l-.001.3a1.18 1.18 0 0 1 1.378.002l.644.495.643-.495a1.06 1.06 0 0 1 .318-.163 1.23 1.23 0 0 1 .747 0c.237.073.437.227.54.42.053.105.078.205.078.307V20.5c0 .717-.744 1.499-1.659 1.499L1.658 22c-.453 0-.875-.14-1.19-.394C.164 21.361-.001 20.84 0 20.5V4.788c0-.102.025-.202.074-.299.111-.203.311-.355.554-.431.234-.075.499-.075.738.003a1.08 1.08 0 0 1 .314.16l.647.498.644-.495a1.18 1.18 0 0 1 1.382.001l.025.019-.03-.322c0-2.098 1.648-3.812 3.72-3.917L8.269 0zm4.133 6.013l-.801.6a.73.73 0 0 1-.83 0l-.8-.6-.802.6c-.232.174-.598.174-.829 0L9 6.013l-.801.6c-.232.174-.597.174-.829 0l-.801-.6-.801.6c-.231.174-.597.174-.829 0l-.801-.6-.801.6c-.232.174-.597.174-.829 0L2 6.234v13.564c-.001.067.041.113.077.141a.36.36 0 0 0 .213.073h13.398c.169 0 .312-.098.312-.213V6.235l-.505.378a.73.73 0 0 1-.83 0l-.801-.6zM8.269 2c-.96 0-1.756.704-1.899 1.625h0l.026.377c.226.012.448.086.625.222l.644.495.644-.495a1.18 1.18 0 0 1 1.382.001l.643.494.644-.495c.177-.137.402-.211.63-.222l.025-.346-.003-.031c-.135-.872-.857-1.55-1.749-1.619h0L9.731 2z"></path>
                     </g>
                  </g></svg></i></a>
               </li>
               <li class="user-block__order-button">
                  <a class="btn btn-primary" href="https://cheesecakedev.prod.acquia-sites.com/order"><span>Order Now</span></a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</header>