doctype html
!= "<!--[if lt IE 7]>      <html class=\"no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->"
!= "<!--[if IE 7]>         <html class=\"no-js lt-ie10 lt-ie9 lt-ie8\"> <![endif]-->"
!= "<!--[if IE 8]>         <html class=\"no-js lt-ie10 lt-ie9\"> <![endif]-->"
!= "<!--[if IE 9]>         <html class=\"no-js lt-ie10\"> <![endif]-->"
!= "<!--[if gt IE 9]><!-->"
html.no-js
	!= "<!--<![endif]-->"
	include ../global/head
	// TODO: we need to specify a platform class on the body
	// TODO: fill-screen class is on the body for home/menu/locations
	body(class="is-#{platform} fill-screen")
		include ../global/header
		include ../global/menu
		.outer-wrap
			// START : WRAPPER
			.wrapper
				.container
					// START : MAIN CONTAINER
					#mainContainer.main-container
						// START : PAGE CONTENT
						include ../global/background-carousel
						#mainContent.main-content
							// TODO: Everything inside "#mainContent" will be repopulated by Backbone
							include ../modules/food-menu
						// END : PAGE CONTENT
					// END : MAIN CONTAINER
			include ../global/footer
			// END : WRAPPER
