// START : /modules/content-imagegrid.html
.content-imagegrid
	h3.content-subheading Header 3
	each i in new Array(6)
		.content-gridimage
			img(alt="",src="/assets/images/placeholders/img_189x189.png")
			a.content-gridimage-caption(href="#") This is a Title
// END : /modules/content-imagegrid.html
