<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]--><!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]--><!--[if gt IE 9]><!-->
<html class="no-js"><!--<![endif]-->
  <!-- START : /jade/partials/content-listing-alt.jade-->
  <!-- TODO: the alternate class is needed when showing the listing modules in a grid-like fashion-->
  <!-- END : /jade/partials/content-listing-alt.jade-->
  <!-- START : /global/head.html-->
  <head>
    <title>The Cheesecake Factory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <link rel="icon" href="/cheesecake/2014/assets/images/global/favicon.ico">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <!-- Stylesheet changes based on "desktop", "mobile", "tablet"-->
    <link rel="stylesheet" href="/cheesecake/2014/assets/css/tablet.css">
    <script src="//use.typekit.net/bxf4rjm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script src="/cheesecake/2014/assets/js/vendor/require.js"></script>
    <script src="/cheesecake/2014/assets/js/tablet.js"></script>
  </head>
  <!-- END : /global/head.html-->
  <!-- TODO: we need to specify a platform class on the body-->
  <body class="is-tablet fixed fixed-color fixed-always">
    <!-- START : /global/header.html-->
    <div id="header" class="header">
      <div id="mainHeader" class="main-header">
        <div class="container">
          <ul class="main-header-controls">
            <!-- Only show these menu items on desktop/tablet-->
            <li><a href="#" class="head-menu"><span>Menu</span></a></li>
            <li><a href="/locations/" class="head-locations"><span>Locations</span></a></li>
            <li><a href="/giftcards/" class="head-giftcards"><span>Gift Cards</span></a></li>
            <li><a id="menuToggle" class="head-more"><span>More</span></a></li>
          </ul>
          <h1 class="site-logo"><a href="/home/">The Cheesecake Factory</a></h1>
        </div>
      </div>
    </div>
    <script>
      require(["modules/fixedHeader"], function(FixedHeader) {
       return new FixedHeader();
      });
    </script>
    <!-- END : /global/header.html-->
    <!-- START : /global/menu.html-->
    <div id="navigation" class="navigation">
      <div class="navigation-inner">
        <div id="closeNav" class="navigation-close"></div>
        <ul class="navigation-social">
          <li><a href="#" target="_blank" class="social-facebook">Facebook</a></li>
          <li><a href="#" target="_blank" class="social-twitter">Twitter</a></li>
          <li><a href="#" target="_blank" class="social-pinterest">Pinterest</a></li>
          <li><a href="#" target="_blank" class="social-instagram">Instagram</a></li>
          <li>
            <!-- TODO: This links to a Newsletter page. http://www.thecheesecakefactory.com/aboutUs/eNewsletterSignUp/emailSignUp--><a href="#" target="_blank" class="social-email">Newsletter</a>
          </li>
        </ul>
        <ul class="navigation-list">
          <li class="accordion-item">
            <div class="accordion-item-wrap">
              <div class="navigation-list-name accordion-item-title"><span>About Us</span></div>
              <ul class="navigation-links">
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Awards</a></li>
                <li><a href="#">Our Recipes</a></li>
                <li><a href="#">Our Team</a></li>
              </ul>
            </div>
          </li>
          <li class="accordion-item">
            <div class="accordion-item-wrap">
              <div class="navigation-list-name accordion-item-title"><span>Connect</span></div>
              <ul class="navigation-links">
                <li><a href="#">Contact Form</a></li>
                <li><a href="#">eNewsletter</a></li>
                <li><a href="#">Got Questions?</a></li>
              </ul>
            </div>
          </li>
          <li class="accordion-item">
            <div class="accordion-item-wrap">
              <div class="navigation-list-name accordion-item-title"><span>Corporate Information</span></div>
              <ul class="navigation-links">
                <li><a href="#">Global Development</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Press Room</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Employment Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
              </ul>
            </div>
          </li>
          <li class="accordion-item">
            <div class="accordion-item-wrap">
              <div class="navigation-list-name accordion-item-title"><span>Corporate Social Responsibility</span></div>
              <ul class="navigation-links">
                <li><a href="#">Charitable Foundation</a></li>
                <li><a href="#">Sustainability</a></li>
                <li><a href="#">Supply Chain</a></li>
                <li><a href="#">Our Team</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="navigation-list-name"><a href="#"><span>Guest Survey</span></a></div>
          </li>
        </ul>
      </div>
    </div>
    <script>
      require(["modules/accordion"], function(Accordion) {
       return new Accordion();
      });
      require(["modules/headerNav"], function(HeaderNav) {
       return HeaderNav.get();
      });
    </script>
    <!-- END : /global/menu.html-->
    <div class="outer-wrap">
      <!-- START : WRAPPER-->
      <div class="wrapper">
        <!-- START : /modules/content-location-header.html-->
        <div id="contentHeader" class="content-header">
          <!-- TODO: iframe placeholder -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3502.922523368389!2d-81.364582!3d28.602100999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e7706b36192781%3A0x1218a9f3b38341c9!2sThe+Cheesecake+Factory!5e0!3m2!1sen!2sus!4v1410808479892" width="800" height="600" frameborder="0" style="border:0"></iframe>
        </div>
        <!-- END : /modules/content-location-header.html-->
        <div class="container">
          <!-- START : MAIN CONTAINER-->
          <div id="mainContainer" class="main-container">
            <!-- START : PAGE CONTENT-->
            <div id="mainContent" class="main-content">
              <!-- TODO: Everything inside "#mainContent" will be repopulated by Backbone-->
              <!-- START : /modules/content-header.html-->
              <!-- TODO: Add .navigation-anchors-only class to hide on mobile (if the navigation consists of only anchor links)-->
              <div id="contentNavigation" class="content-navigation navigation-anchors-only">
                <ul>
                  <li><a href="#restaurantdetails">Restaurant Details</a></li>
                  <li><a href="#ourmenu">Our Menu</a></li>
                  <li><a href="#togo">To Go</a></li>
                  <li><a href="#takeout">Take Out</a></li>
                  <li><a href="#catering">Catering</a></li>
                </ul>
              </div>
              <script>
                require(["modules/fixedNavigation"], function(FixedNavigation) {
                 return new FixedNavigation();
                });
              </script>
              <!-- END : /modules/content-header.html-->
              <div class="content-column">
                <!-- TODO: Only share on desktop/tablet-->
                <div class="heading-share share-this">
                  <!-- TODO: .share-action button triggers .share-active on .share-this-->
                  <div class="share-action">Share</div>
                  <!-- TODO: .share-print should trigger page print--><a href="javascript:window.print()" class="share-print">Print</a>
                  <div class="share-social-wrapper">
                    <ul class="share-social">
                      <li class="share-email"><a href="#">Email</a></li>
                      <li class="share-mobile"><a href="#">Mobile</a></li>
                    </ul>
                  </div>
                  <h2 id="restaurantdetails" class="content-heading">Winter Park Location</h2>
                </div>
                <ul class="breadcrumbs">
                  <li><a href="/location-listing">Select a State</a></li>
                  <li><a href="/location-listing">Florida (FL)</a></li>
                  <li><a href="/location-listing">Winter Park</a></li>
                  <li><a href="/location-listing">520 N. Orlando Avenue</a></li>
                </ul>
                <div class="content-split">
                  <div class="location-info"><strong class="small-title">Address</strong>
                    <p>520 North Orlando Avenue<br>Winter Park, FL 32789</p>
                    <p>407-644-4220</p>
                  </div>
                  <div class="location-info">
                    <!-- TODO: On tablet/mobile, button launches native Maps app--><a href="#" class="btn">View Map</a>
                  </div>
                </div>
                <!-- START : /modules/content-slider.html-->
                <div class="content-slider">
                  <div class="royalSlider">
                    <!-- TODO: Slider designed for 640x360 aspect ratio (16:9). Don't forget alt text on images for accessibility--><img alt="" src="/cheesecake/2014/assets/images/placeholders/img_640x360.png" class="rsImg"><img alt="" src="/cheesecake/2014/assets/images/placeholders/img_640x360.png" class="rsImg"><img alt="" src="/cheesecake/2014/assets/images/placeholders/img_640x360.png" class="rsImg">
                  </div>
                </div>
                <script>
                  require(["modules/contentSlider"], function(ContentSlider) {
                   return new ContentSlider();
                  });
                </script>
                <!-- END : /modules/content-slider.html-->
                <hr>
                <!-- TODO: br's in .time-table are hidden on desktop but used on mobile--><strong class="small-title">Hours of Operation</strong>
                <table class="time-table">
                  <tr>
                    <td>Mon&nbsp;-&nbsp;Thu:</td>
                    <td>11:15AM - 11:00PM <br>(bakery and bar close at 11:30PM)</td>
                  </tr>
                  <tr>
                    <td>Fri&nbsp;-&nbsp;Sat:</td>
                    <td>11:15AM - 12:00AM <br>(bakery and bar close at 12:30AM)</td>
                  </tr>
                  <tr>
                    <td>Sun:</td>
                    <td>11:15AM - 11:00PM <br>(bakery and bar close at 11:30PM)</td>
                  </tr>
                </table>
                <hr><strong class="small-title">Location</strong>
                <p>Located in Winter Park Village. Next to Regal Cinemas.</p><strong class="small-title">Parking</strong>
                <p>Valet and self-parking are available.</p><strong class="small-title">Patio Seating</strong>
                <p>Patio seating is available with heaters, music, ceiling fans and "misters" for those dry warm days and nights in the desert.</p><strong class="small-title">Special Menus</strong>
                <ul>
                  <li>Braille Menu</li>
                  <li>Large Print Menu</li>
                </ul><strong class="small-title">Large Parties</strong>
                <p>We can easily accomodate large parties.</p>
                <hr><strong id="ourmenu" class="small-title">Our Menu</strong>
                <p>The Cheesecake Factory menu features more than 200 menu selections made in-house each day, using only the highest quality ingredients, which combines to create our remarkable tastes.</p><a href="#" class="btn">View Our Menu</a>
                <hr><strong id="togo" class="small-title">To Go</strong>
                <p>Need your order "To Go?" Try our Curbside To-Go Service!<br>It's as easy as 1, 2, 3!</p>
                <ol>
                  <li>Call in to place your order.</li>
                  <li>When you arrive to pickup your order, Drive up to our special Curbside To-Go Parking spaces, and call our Curbside Pickup line at 407-644-5199 to let us know you've arrived.</li>
                  <li>Your food will be delivered right to your car, and you'll be on your way!</li>
                </ol>
                <hr><strong id="takeout" class="small-title">Take Out</strong>
                <p>For your convenience our entire menu of more than 200 selections is available for Take Out! You may place and pick up Take Out orders at our Bakery counter.</p><a href="#" class="btn">Take Out Menu</a>
                <hr><strong id="catering" class="small-title">Catering</strong>
                <p>Something for everyone at your office, party or home!<br>At The Cheesecake Factory we like to celebrate big. Now you can bring the celebration to your home, office or special event with our delicious catering selections!</p><a href="#" class="btn">Catering Menu</a>
              </div>
            </div>
            <!-- END : PAGE CONTENT-->
          </div>
          <!-- END : MAIN CONTAINER-->
        </div>
      </div>
      <!-- START : /global/footer.html-->
      <div id="footer" class="footer">
        <div class="container">
          <ul class="footer-social">
            <li><a href="#" target="_blank" class="social-facebook">Facebook</a></li>
            <li><a href="#" target="_blank" class="social-twitter">Twitter</a></li>
            <li><a href="#" target="_blank" class="social-pinterest">Pinterest</a></li>
            <li><a href="#" target="_blank" class="social-instagram">Instagram</a></li>
            <li>
              <!-- TODO: This links to a Newsletter page. http://www.thecheesecakefactory.com/aboutUs/eNewsletterSignUp/emailSignUp--><a href="#" target="_blank" class="social-email">Newsletter</a>
            </li>
          </ul>
          <div class="footer-text">
            <ul class="footer-links">
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Investors</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Careers</a></li>
            </ul>
            <div class="copyright">
              <p>&copy; 2002-2014 TCF Co. LLC. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- END : /global/footer.html-->
      <!-- END : WRAPPER-->
    </div>
  </body>
</html>