
/*************************************************/

/* CSS for Versions greater than or equal to IE7 */

/*************************************************/
	#bottomSiteTools ul.MenuBarHorizontal ul.MenuBarSubmenuVisible
	{
		left:100px;
		height:80px;
	}

	/*
fix for #rightContent width problem on Investor/About Us pages
******************************************************************************/
#rightContent {width:800px;}

/*
fix Locations iFrame Position issue
******************************************************************************/
#rightContent #main {
	left: -27px; position: relative; width:818px !important;
}

#legal {
	left: 5px !important; 
}

#popup {
	margin-right: 30px !important;
}

.multicolumn .imageBox { width:304px; height:175px; margin:0; padding:17px; display:inline; position:relative }
