/* ==========================================================================
    CONTENT - FAQ
   ========================================================================== */

.content-faq {
	margin: 40px 0 0;
	&:first-child {
		margin: 0;
	}
}
.content-accordion {
	counter-reset: accordion-counter;
	padding: 10px 0 20px;
	.accordion-item {
		border-bottom: 1px solid $borderColorDark;
		height: 52px;
		&.active {
			.accordion-item-title {
				color: $linkActiveColor;
				&:before {
					@include transform(rotate(-180deg) translateZ(0));
					-ms-transform: rotate(-180deg);
				}
			}
		}
	}
	.accordion-item-title {
		border-bottom: 1px solid $borderColorDark;
		color: $contentLinkTitle;
		cursor: pointer;
		font: $fontWeightSemibold 19px/52px $themeFont;
		height: 52px;
		margin: 0;
		text-transform: uppercase;
		@include transition(color $transitionSpeed);
		&:hover {
			color: $linkActiveColor;
		}
		&:before {
			@extend .icon-arrow-down;
			float: right;
			position: relative;
			top: 16px;
			@include transition(transform 0.5s $easeInOutCubic);
		}
	}
	.accordion-item-body {
		padding: 36px 0 0 22px;
		dt {
			color: $contentLinkTitle;
			font: $fontWeightBold 16px/23px $themeFont;
			padding: 0 0 16px;
			position: relative;
			&:before {
				content: counter(accordion-counter) '. ';
				counter-increment: accordion-counter;
				left: -22px;
				position: absolute;
			}
		}
		dd {
			padding: 0 0 16px;
		}
		p {
			margin: 0;
			padding: 0 0 16px;
		}
	}
}